* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: red; */
    overflow: hidden;




}

.container2 {
    background-image: url(zombiee1.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;


}

.container {
    background-image: url(HD\ wallpaper_\ zombie\,\ silhouette\,\ dark\,\ red\,\ spooky\,\ people\,\ back\ lit\,\ studio\ shot.jpeg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
    animation: imgani 8s linear infinite;

}

@keyframes imgani {
    0% {
        background-image: url(HD\ wallpaper_\ zombie\,\ silhouette\,\ dark\,\ red\,\ spooky\,\ people\,\ back\ lit\,\ studio\ shot.jpeg);
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
    }

    50% {
        background-image: url(dark-horror-grabbing-hand-zgzmfsvimmhug9lh.webp);
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0rem;

    }

    75% {
        background-image: url(anime-itachi-in-dark-4p39t9aier6xzpab.webp);
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0rem;

    }

    100% {
        background-image: url(zombiee1.jpg);
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0rem;


    }

}

.man {
    background-image: url(man1-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 50vw;
}

.man2 {
    background-image: url(man1-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 50vw;
    transition: all 0.4s ease;
    transform: rotateZ(-90deg);

}

/* .mananimate2{
    animation: man2 4s linear;
}
@keyframes man2{
   100%{
    bottom: -5rem;

    }
} */


.mananimate {
    animation: man 0.6s linear;
}

@keyframes man {
    0% {
        bottom: 0;

    }

    50% {
        bottom: 422px;
    }

    100% {
        bottom: 0;
    }
}

.gameover {

    position: absolute;
    font-size: 2.2rem;
    color: white;
    top: 120px;
    right: 30vw;
    text-align: center;
    background-color: red;
    padding: 0.5rem;
    border-radius: 1rem;

}

#scorecount {
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 40px;
    right: 41vw;
    text-align: center;
    color: green;
    border-radius: 1rem;

    padding: 0.6rem;
    background-color: coral;
}

.obstacle {
    background-image: url(Zombie-Download-PNG.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 50vw;
}

.aniobstacle {
    animation: name 5s linear infinite;
}

@keyframes name {
    0% {
        left: 100%;
    }

    100% {
        left: -10vw;
    }
}